body {
    background-color: #eee;
    color: black;
}

input {
    background-color: #eee;
    color: black;
}

a { 
    color: black;
    font-weight: bold;
}

#header {
    background-color: #eee;
    border-bottom: 3px solid rgb(238, 238, 238);
}

#footer {
    background-color: #eee;
    border-top: 3px solid rgb(238, 238, 238);
}

#page {
    /*margin: 2em auto;*/
    width: 50%;
    border: 5px solid #888;
    padding: 1em;
}

#add_url_form {
    border: 3px solid #888;
    padding: 1em;
    position: fixed;
    right: 1em;
    top: 1em;
}

#main_form {
    margin-top: 1em;
    border: 3px solid rgb(111, 113, 158);
    padding: 1em;
}

p {
    margin: 1em 0 0;
}

.button {
    width: 100%;
    margin-top: 1em;
}

.tree {
    background-color: #efe;
    border: solid 2px gray;
    margin: 1em 1em 1em 1em;
}

.level-0 { background-color: #f9f; }
.level-1 { background-color: #f99; }
.level-2 { background-color: #9f9; }
.level-3 { background-color: #99f; }
