{% extends "base.html" %}
{% block content %}

<form action='' method='post' class='queryForm'>
    <div class='autoMargin'>
    <input class='textInput' type=text name=query>
    <input type=submit value=Спросить>
    </div>
</form>

<div class='answer autoMargin width70'>
    Ответ:<br>
    {%if ans %}
    {{ ans }}
    {%endif %}
</div>

<hr>

<div class='autoMargin width70'>
    <h3>Данные валют за {{ date }}</h3>
<table>
    <thead>
        <th>Код</th>
        <th>Имя</th>
        <th>Курс</th>
        <th>Рост</th>
    </thead>
    <tbody>
        {% for name, value in rates.items() %}
        <tr>
            <td>{{ name }}</td>
            <td>{{ value.display_name }} </td>
            <td>{{ value.value }} </td>
            <td>
                {% if value.growth == '+': %}
                <img src='static/arrowup.png' style='width: 5%'>
                {% endif %}
                {% if value.growth == '-': %}
                <img src='static/arrowdown.png' style='width: 5%'>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>


{% endblock %}

