{% extends "base.html" %}
{% block content %}


<div class='autoMargin width70'>

<form id='dir_form' action="" method=post>
    Directory:
    {{ selected }}
    <select onchange='document.getElementById("dir_form").submit()' class='submit dirSelect' name='dir_id'>
        {%for dir in dirs %}
        {% if selected == dir.id %}
            <option selected value='{{ dir.id }}'>{{ dir.name }}</option>
        {% else %}
            <option value='{{ dir.id }}'>{{ dir.name }}</option>
        {% endif %}
        {% endfor %}
    </select>
    <!--<input onclick='set_action("delete")' class='submit' type=submit value=Delete > -->
     <input id='dir_form_method' name='method' class='hidden' type=hidden value=delete >
</form>

Add dir:
<form id='add_dir_form' action="{{ url_for('add_dir') }}" method=post>
    <p>Name:</p>
    <input class='textInput' type=text size=30 name=name>
    <input class='submit' type=submit value=Add class=button>
    <input name='dir_id' class='hidden' type=hidden value={{ selected }} >
</form>

<form id='add_url_form' action="{{ url_for('add_url') }}" method=post>
    <p>Name:</p>
    <input class='textInput' type=text size=30 name=name>
    <p>Link:</p>
    <input class='textInput' type=text size=30 name=link><br>
    <input class='submit' type=submit value=Add class=button>
    <input name='dir_id' class='hidden' type=hidden value={{ selected }} >
</form>

    <table>
    <tbody>
    {% for url in urls %}
    <tr>
    <td>
    <form id='main_form' action="{{ url_for('del_url') }}" method=post>
        <input class='submit' type=submit id="{{ url.id }}" value="Delete" />
        <input type=hidden value="{{ url.id }}" name="id" />
        <input name='dir_id' class='hidden' type=hidden value={{ selected }} >
    </form>
    </td>
    <td>
        <a href="{{ url.link }}" >{{ url.name }}</a> </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>

</div>

<form class='settings' action='{{ url_for('view_all', dir_id=selected) }}' method='get'>
    <input class='submit' type=submit value=Veiw>
</form>

{% endblock %}

