{% extends "base.html" %}
{% block content %}

<div class='autoMargin width70'>

<form id='dir_form' action="" method=post>
    <select onchange='document.getElementById("dir_form").submit()' class='submit dirSelect' name='dir'>
        {%for dir in dirs %}
        {% if selected == dir.id %}
            <option selected value='{{ dir.id }}'>{{ dir.name }}</option>
        {% else %}
            <option value='{{ dir.id }}'>{{ dir.name }}</option>
        {% endif %}
        {% endfor %}
    </select>
    <input id='dir_form_method' name='method' class='hidden' type=hidden value=delete >
</form>

    <table>
    <tbody>
    {% for url in urls %}
    <tr>
    <td>
        <a href="{{ url.link }}" >{{ url.name }}</a> </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>

</div>

<form class='settings' action='{{ url_for('view_edit', dir_id=selected) }}' method='get'>
    <input class='submit' type=submit value=Edit>
</form>

{% endblock %}

