<!doctype html>
{% if title %}
<title>{{title}} - chat</title>
{% else %}
<title>chat</title>
{% endif %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<div class=metanav>
<div class='login'>
        {% if g.user.is_authenticated %}
        | <a href="{{ url_for('logout') }}">Logout</a>
        | <a href="{{ url_for('users') }}">chat with users</a>
        |<a href="{{ url_for('index') }}">Index page</a>
        {% else %}
        <a href="{{ url_for('login') }}">Login</a> |
        <a href="{{ url_for('register') }}">Register</a>
        {% endif %}
</div>
</div>
<hr>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
{% block content %}{% endblock %}

<hr>
<div class=githublink>
    <a href="https://github.com/anokata/pythonPetProjects/tree/master/flaskChat">git repo of this app</a>
</div>
