{% extends "base.html" %}
{% block content %}
{% if current_user.is_authenticated %}
<div>Hi, you are login as <b>{{ current_user.name }}!</b></div>
{% endif %}
<ul>Availible actions:<br>
    {% if g.user.is_authenticated %}
     <li><a href="{{ url_for('index') }}">Index page</a></li><br>
     <li><a href="{{ url_for('public') }}">public chat</a></li><br>
     <li><a href="{{ url_for('logout') }}">Logout</a></li><br>
     <li><a href="{{ url_for('users') }}">chat with users</a></li><br>
     <li><a href="{{ url_for('public') }}">public chat</a></li><br>
    {% else %}
    <li><a href="{{ url_for('login') }}">Login</a> </li><br>
    <li><a href="{{ url_for('register') }}">Register</a></li><br>
</ul>
    {% endif %}
{% endblock %}

