body {
    background-color: black;
    color: white;
}

input {
    background-color: black;
    color: white;
}

a { 
    color: white;
    font-weight: bold;
}

#header {
    background-color: #000;
    border-bottom: 3px solid rgb(238, 238, 238);
}

#footer {
    background-color: #000;
    border-top: 3px solid rgb(238, 238, 238);
}

#page {
    margin: 2em auto;
    width: 50%;
    border: 5px solid #888;
    padding: 1em;
}
