{% extends "base.html" %}
{% block content %}
<form id='add_url_form' action="{{ url_for('add_url') }}" method=post>
    <p>Name:</p>
    <input type=text size=30 name=name>
    <p>Link:</p>
    <input type=text size=30 name=link>
    <input type=submit value=Add>
</form>
<form id='main_form' action="{{ url_for('del_url') }}" method=post>
    <table>
    <tbody>
    {% for url in urls %}
    <tr>
    <td>
        <input class='delete' type=button id="{{ url.id }}" value="Delete" />
    </td>
    <td>
        <a href="{{ url.link }}" >{{ url.name }}</a> </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
</form>

{% endblock %}
