<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/style_aone.css" />
    <title>pages</title>
</head>
<body>
    <div id="page">
    <div id="header">
        Menu:
        <a href="all">all</a>
        {% block header %}
        {% endblock %}
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2017 by <a href="http://work.eu.ai/">ksi</a>.
        {% endblock %}
    </div>
    </div>
</body>
</html>
